*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#main{
    position: relative;
}
#page1{
    overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#page1>h4{
    position: relative;
    left: 10%;
    top:12%;
    color: white;
    font-size: 2vw;
    font-family: gilroy;
}
#page1>h4:nth-child(2){
    position: relative;
    top: 7%;
    left: 7%;
}
#nav{
    position: relative;
    left: 55%;
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
#nav>h6{
    position: relative;
    color: white;
    font-family: gilroy;
    margin-top: 2%;
    left: 15%;
    font-size: 1vw;
}

#page1>h1{
    position: relative;
    top: 20%;
    left: 40%;
    font-size: 7vw;
    color: white;
    font-family: gilroy;
    letter-spacing: 15px;
}
#page1>h1:nth-child(2){
    font-size: 6vw;
}
#page1>h2{
    position: relative;
    top: 25%;
    left: 40%;
    letter-spacing: 5px;
    font-size: 3vw;
    font-weight: 100;
    font-family: gilroy;
    color: white;
}
#page1>h3{
    position: relative;
    color: white;
    line-height: 3vw;
    left: 3%;
}
#page1>h5{
    position: relative;
    color: white;
    font-family: gilroy;
    font-weight: 4vw;
    font-weight: 300;
    letter-spacing: 5px;
    top: 80%;
    left: 45%;
    transform: rotate(90deg);
}


#page2{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page2>h4{
    position: relative;
    left: 10%;
    top:12%;
    color: white;
    font-size: 2vw;
    font-family: gilroy;
}
#page2>h4:nth-child(2){
    position: relative;
    top: 7%;
    left: 7%;
}
#nav1{
    position: relative;
    left: 55%;
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
#nav1>h6{
    position: relative;
    color: white;
    font-family: gilroy;
    margin-top: 2%;
    left: 15%;
    font-size: 1vw;
}
#nav1>h6:nth-child(1){
    color: #717171;
}
#page2>p{
    color: white;
    font-family: gilroy;
    position: relative;
    top: 15%;
    left: 15%;
    font-size: 3vw;
}
#page2>h3{
    position: relative;
    color: white;
    top: 15%;
    line-height: 3vw;
    left: 3%;
}
#line1{
    position: relative;
    left: 15%;
    bottom: 5%;
    height: .5%;
    border-radius: 1vw 1vw 1vw 1vw;
    width: 30vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    background-color: white;
}
#line2{
    position: relative;
    left: 15%;
    height: .5%;
    border-radius: 1vw 1vw 1vw 1vw;
    width: 30%;
    background-color: white;
}
#line3{
    position: relative;
    left: 15%;
    height: .5%;
    top: 6%;
    border-radius: 1vw 1vw 1vw 1vw;
    width: 30%;
    background-color: white;
}
#page2>h2{
    position: relative;
    color: white;
    font-family: gilroy;
    left: 50%;
    bottom: 8%;
    font-size: 2vw;
}
#page2>h5{
    position: relative;
    color: white;
    font-family: gilroy;
    left: 50%;
     bottom: 3%;
    font-size: 2vw;
  
}
#page2>h6{
    position: relative;
    color: white;
    font-family: gilroy;
    left: 50%;
    top: 4%;
    font-size: 2vw;
   
}
#page3{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}
#page3>h4{
    position: relative;
    left: 10%;
    top:12%;
    color: white;
    font-size: 2vw;
    font-family: gilroy;
}
#page3>h4:nth-child(2){
    position: relative;
    top: 7%;
    left: 7%;
}
#nav2{
    position: relative;
    left: 55%;
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
#nav2>h6{
    position: relative;
    color: white;
    font-family: gilroy;
    margin-top: 2%;
    left: 15%;
    font-size: 1vw;
}
#nav2>h6:nth-child(2){
    color: #717171;
}
#page3>h3{
    position: relative;
    color: white;
    top: 15%;
    line-height: 3vw;
    left: 3%;
}
#box1{
    position: relative;
    height: 30vh;
    width: 20vw;
    left: 10%;
    bottom: 25%;
    border-radius: 20px;
    background-color: #87BEE7;
}
#box2{
    position: relative;
    height: 30vh;
    width: 20vw;
    left: 40%;
    bottom: 55%;
    border-radius: 20px;
    background-color: #3D685F;
}
#box3{
    position: relative;
    height: 30vh;
    width: 20vw;
    left: 70%;
    bottom: 85%;
    border-radius: 20px;
    background-color: #DE2461;
}
#box4{
    position: relative;
    height: 30vh;
    width: 20vw;
    left: 10%;
    bottom: 75%;
    border-radius: 20px;
    background-color: #FDA381;
}
#box5{
    position: relative;
    height: 30vh;
    width: 20vw;
    left: 40%;
    bottom: 105%;
    border-radius: 20px;
    background-color: #66C993;
}
#box6{
    position: relative;
    height: 30vh;
    width: 20vw;
    left: 70%;
    bottom: 135%;
    border-radius: 20px;
    background-color: #87BEE7;
}
#page4{
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page4>h4{
    position: relative;
    left: 10%;
    top:12%;
    color: white;
    font-size: 2vw;
    font-family: gilroy;
}
#page4>h4:nth-child(2){
    position: relative;
    top: 7%;
    left: 7%;
}
#nav3{
    position: relative;
    left: 55%;
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
#nav3>h6{
    position: relative;
    color: white;
    font-family: gilroy;
    margin-top: 2%;
    left: 15%;
    font-size: 1vw;
}
#nav3>h6:nth-child(3){
    color: #717171;
}
#page4>h3{
    position: relative;
    color: white;
    top: 15%;
    line-height: 3vw;
    left: 3%;
}
#page4>h1{
    color: white;
    font-family: gilroy;
    position: absolute;
    left: 20%;
    top: 30%;
}
#line4{
    position: relative;
    left: 20%;
    top: 17%;
    height: .1%;
    border-radius: 1vw 1vw 1vw 1vw;
    width: 20%;
    background-color: white;
}
#icon{
    position: relative;
    height: 40vh;
    width: 20vw;
    left: 20%;
    bottom: 5%;
    /* background-color: red; */
}
#icon>h1{
    color: white;
    line-height: 5vw;
    font-size: 2vw;
}
#icon>h2{
    position: relative;
    color: white;
    font-family: gilroy;
    bottom: 20%;
    left: 23%;
}
#icon>h3{
    position: relative;
    color: white;
    font-family: gilroy;
    bottom: 20%;
    left: 23%;
}
#icon>h4{
    position: relative;
    color: white;
    font-family: gilroy;
    bottom: 20%;
    left: 23%;
}
#part1{
    position: relative;
    height: 6vh;
    width: 30vw;
    background-color: #CDCDCD;
    border-radius: 20px;
    left: 54%;
    bottom: 57%;
}
#part1>h1{
    position: relative;
    left: 4%;
    top: 15%;
    color: black;
    font-family: gilroy;
    font-size:1vw;
}
#part2{
    position: relative;
    height: 6vh;
    width: 30vw;
    background-color: #CDCDCD;
    border-radius: 20px;
    left: 54%;
    bottom: 49%;
}
#part2>h1{
    position: relative;
    left: 4%;
    top: 15%;
    color: black;
    font-family: gilroy;
    font-size:1vw;
}
#part3{
    position: relative;
    height: 30vh;
    width: 30vw;
    background-color: #CDCDCD;
    border-radius: 20px;
    left: 54%;
    bottom: 40%;
}
#part3>h1{
    position: relative;
    left: 4%;
    top: 15%;
    color: black;
    font-family: gilroy;
    font-size:1vw;
}
